Package: ws.hbang.groupquiet
Name: GroupQuiet
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>> 1.0)
Conflicts: ws.hbang.converse
Replaces: ws.hbang.converse
Version: 1.0~beta1
Architecture: iphoneos-arm
Description: Intelligent iMessage group chat muting
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: http://cydia.hbang.ws/status#groupquiet
Section: Tweaks
